<template>
  <button :class="buttonClass" @click="handleClick">
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent, toRefs, computed } from 'vue'

export default defineComponent({
  name: 'Button',
  props: {
    variant: {
      type: String,
      default: 'primary',
      validator: (value: string) =>
        ['primary', 'secondary'].indexOf(value) !== -1,
    },
    customPadding: {
      type: Boolean,
      default: false,
    },
    outline: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['click'],
  setup(props, { emit }) {
    const { variant, customPadding, outline } = toRefs(props)

    const buttonClass = computed(() => {
      let className = variant.value

      if (outline.value) {
        className = `${className}-outline`
      }

      return [className, { 'custom-padding': customPadding.value }]
    })

    const handleClick = (event: Event) => {
      emit('click', event)
    }

    return {
      buttonClass,
      handleClick,
    }
  },
})
</script>

<style lang="scss" scoped>
$variants: 'primary', 'secondary';

button {
  @apply outline-none;
  @apply rounded-md;
  @apply font-semibold;
  @apply border;

  &:disabled {
    @apply opacity-50;
    @apply cursor-pointer;
    @apply pointer-events-none;
  }

  @each $variant in $variants {
    &.#{$variant} {
      @apply bg-#{$variant};
      @apply text-white;

      @media (hover: hover) {
        &:hover {
          @apply bg-#{$variant}-darken;
        }
      }
    }

    &.#{$variant}-outline {
      @apply bg-transparent;
      @apply text-#{$variant};
      @apply border;
      @apply border-#{$variant};

      @media (hover: hover) {
        &:hover {
          @apply border-#{$variant}-darken;
          @apply text-#{$variant}-darken;
        }
      }
    }
  }

  &.pill {
    @apply rounded-full;
  }

  &:not(.custom-padding) {
    @apply px-6;
    @apply py-2;
  }
}
</style>
