<template>
  <div>
    <div>Contoh Button</div>
    <Button variant="primary">Primary</Button>
    <Button variant="secondary" class="ml-2">Secondary</Button>
    <Button variant="primary" outline class="ml-2">Primary Outline</Button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Button from './components/Button/index.vue'

export default defineComponent({
  name: 'App',
  components: {
    Button
  }
})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
